.menu-bar{
    -fx-background-color: #CDCDCD
    -fx-opacity 0.5;
    -fx-border-width: 2.0;
}

.imageview{
    -fx-border-color: white;
}

.button {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: white;
    -fx-border-width: 2px;
    -fx-font-size: 14px;
}

.button1{
    -fx-background-color: #FFFFFF;
    -fx-border-color: black;
    
}

.button2: hover{
    -fx-background-color: #294260;
}

.table-view{
    -fx-background-radius: 17px;
    -fx-background-color: #173E5A;
}

.table-view .column-header{
    -fx-background-radius: 17px;
}

.table-view .column-header-background {
    -fx-background-color: #336699;
    -fx-background-radius: 10 10 0 0;
}

.table-view .column-header-background .label {
    -fx-text-fill: white;
}

.table-view .column-header,
.table-view .column-header-background.filler{
    -fx-background-color: transparent;
    -fx-cell-size: 12;
}

.table-row-cell: selected{
    -fx-background-color: #CDCDCD;
    
}